/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --main-font-weight: 465; /* вес шрифта основного текста */
  --headers-font-weight: 785; /* вес шрифта заголовков карточек */
  --themes-background: #000; /* цвет фона */
  --themes-main-color: #00cc14; /* основной цвет шрифтов */
  --themes-gradient-overlay-color-start: #007f0c; /* цвет для создания верхнего слоя градиента в бэкграунде */
  --themes-gradient-overlay-color-end: #004306; /* цвет для создания верхнего слоя градиента в бэкграунде */
  --themes-content-background: #000; /* цвет фона заголовка и карточек */
  --themes-text-stroke-color: #000; /* цвет обводки текста */
  --themes-btn-text-color: #00cc14; /* цвет текста кнопки */
  --themes-heart-contour-color: #00cc14; /* цвет контура иконки сердца */
  --themes-heart-filling-color: #FF0000; /* цвет заливки иконки сердца */
}

:root.theme-light {
  --main-font-weight: 400; /* вес шрифта основного текста */
  --headers-font-weight: 700; /* вес шрифта заголовков карточек */
  --themes-background: #d3d3d3; /* цвет фона */
  --themes-main-color: #000; /* основной цвет шрифтов */
  --themes-gradient-overlay-color-start: #e7e7e7; /* цвет для создания верхнего слоя градиента в бэкграунде */
  --themes-gradient-overlay-color-end: #1a1a1a; /* цвет для создания верхнего слоя градиента в бэкграунде */
  --themes-content-background: #fff; /* цвет фона заголовка и карточек */
  --themes-text-stroke-color: #fff; /* цвет обводки текста */
  --themes-btn-text-color: #fff; /* цвет текста кнопки */
  --themes-heart-contour-color: #000; /* цвет контура иконки сердца */
  --themes-heart-filling-color: #FF0000; /* цвет заливки иконки сердца */
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465; /* вес шрифта основного текста */
    --headers-font-weight: 785; /* вес шрифта заголовков карточек */
    --themes-background: #000; /* цвет фона */
    --themes-main-color: #00cc14; /* основной цвет шрифтов */
    --themes-gradient-overlay-color-start: #007f0c; /* цвет для создания верхнего слоя градиента в бэкграунде */
    --themes-gradient-overlay-color-end: #004306; /* цвет для создания верхнего слоя градиента в бэкграунде */
    --themes-content-background: #000; /* цвет фона заголовка и карточек */
    --themes-text-stroke-color: #000; /* цвет обводки текста */
    --themes-btn-text-color: #00cc14; /* цвет текста кнопки */
    --themes-heart-contour-color: #00cc14; /* цвет контура иконки сердца */
    --themes-heart-filling-color: #FF0000; /* цвет заливки иконки сердца */
  }
}
